.bg-accordion-dark{
    background-color: #6d6d6d !important;
}

.bg-accordion-light{
    background-color: #F5F5F5 !important;
}

.border-nacho{
    border: 1px solid #6d6d6d !important;
}

.bg-accordion-header:hover
{
    background-color: #5f42b0 !important;
}

.bg-accordion-header
{
    background-color: #895ff9 !important;
}

.accordion-button{
    box-shadow: none !important;
}

.bg-spring{
    background-color: #6db33f !important;
}

.bg-java{
    background-color: #ee272c !important;
}

.bg-python{
    background-color: #ffc92f !important;
}

.bg-angular{
    background-color: #dd0031 !important;
}

.bg-uma{
    background-color: #1a3256 !important;
}

.bg-uned{
    background-color: #00533f !important;
}

.bg-ilerna{
    background-color: #149bab !important;
}

.bg-mongo{
    background-color: #007632 !important;
}

.bg-express{
    background-color: #f7df1e !important;
}

.bg-react{
    background-color: #0fdaff !important;
}

.bg-node{
    background-color: #80bd01 !important;
}

.bg-rolling{
    background-color: #df2a26 !important;
}

.bg-udemy{
    background-color: #a435f0 !important;
}

.bg-docker{
    background-color: #2b99ee !important;
}

.atropos-inner{
    overflow: visible !important;
}
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */