* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

footer {
	flex-shrink: 0;
}

.custom-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	color: #4c4c6d;
}

/* Estilos para el modo oscuro */
body.app-mode-dark {
	background-color: #333;
	color: white; /* Por ejemplo, cambia el color del texto para que sea visible en fondo oscuro */
  }
  
  /* Estilos para el modo claro */
  body.app-mode-light {
	background-color: white;
	color: black; /* Por ejemplo, cambia el color del texto para que sea visible en fondo claro */
  }
  